body {
  margin: 0px;
  background-color: rgb(158, 235, 212);
}


header {
  border-radius: 16px;
  background-color: white;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin: 0px;
  font-size: 3.3rem;
  font-family: 'Lucida Sans Unicode';
}

nav {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.categoriaNav {
  display: flex;
  border: rgb(27, 182, 182) 2px solid;
  color: white;
  background-color: #282c34;
  padding: 6px;
  border-radius: 15px;
  transition: 2s;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.numeroCarrito {
  margin-left: 9px;
  font-size: 1.5rem;
  font-family: sans-serif;

}

.categoriaNav:focus {
  border: #282c34 2px solid;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 182, 182);
}

.iconoNav {
  width: 30px;
}

.labelBusqueda {
  margin-left: 4.5%;
  font-size: 1.6rem;
}


.inputBusqueda {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 6px;
  border-radius: 9px;
}

.barraBusqueda {
  align-items: center;
  align-content: center;
  display: flex;
  width: 440px;
  justify-content: space-between;
  font-family: sans-serif;
  color: white;
  background-color: #282c34;
  padding: 6px;
  border-radius: 9px;
}

.laApp {
  text-align: center;
}

h2 {
  border-radius: 12px;
  margin: 40px;
  padding: 10px;
  background-color: white;
  display: inline;
  font-size: 2.5rem;
  font-family: 'Lucida Sans Unicode';
}

h3 {
  margin: 0px;
  font-size: 2rem;
  font-family: 'Lucida Sans Unicode';
}


main {
  margin-top: 20px;
  text-align: center;
}

.catalogo {
  margin-top: 10px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.targeta {
  display: flex;
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 300px;
  height: 370px;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.imagenTargeta {
  width: 200px;
  height: 200px;
}

.marcoTargeta {
  border-radius: 9px;

  background-color: #282c34;
}

.presioProducto {
  font-size: 1.3rem;
  font-family: sans-serif;
}

.botonComprar {
  padding: 5px;
  background-color: rgb(36, 168, 36);
  color: white;
  font-size: 1.1rem;
  border-radius: 6px;
  border: #282c34 0px solid;
  transition: 350ms;
}

.botonComprar:active {
  background-color: rgb(115, 236, 67);
  color: rgb(0, 0, 0);
}